{% extends "iotdata/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div  class="content-section">
        <table class="table table-striped">
            {% for context in contexts %}
                <tr>
                    <h6>{% for item in context.posts_tree %}
                            -> {{item}}
                        {% endfor %}
                    </h6>
                </tr>
                    <div class="form-group">
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{ context.posts_tree }}" name="postshow">
                            <button type="submit" class="btn btn-outline-info">
                                Table
                            </button>
                        </form>
                    <div style="float: left">
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{ context.posts_tree }}" name="postdownload">
                            <button type="submit" class="btn btn-outline-info">
                                Download
                            </button>
                        </form>
                    </div>
                    <div style="float: left">
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{ context.posts_tree }}" name="postchart">
                            <button type="submit" class="btn btn-outline-info">
                                Chart
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </table>
                <div class="border-top pt-3">
            <small class="text-muted">
                Problems? Look here: <a class="ml-2" href="{% url 'manual' %}">Manual</a>
            </small>
        </div>
    </div>
{% endblock content %}
