{% extends "iotdata/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div  class="content-section">
        <div class="article-metadata">
            <h3><a class="mr-2" >Manual</a></h3>
        </div>
        <h4><strong>How it works</strong></h4>
<p>The basic is Structure is illustrated below.</p>
{% load static %}
<img src="{% static 'iotdata/img/in_a_nutshell.png' %}" class="img-fluid" alt="How it works in a nutshell">
<p>&nbsp;</p>
<h4><strong>How to use</strong></h4>
<a><strong>First you need to set up a gateway.</strong></a>
<br><a>For this look at follow the link to <a title="Setup your Raspberry Pi" href="{% url 'setup_rpi' %}">Setting up my Gateway</a>.</a>
<br><a>If you want to use a different sensorbase like Arduino or ESP,</a>
<br><a>you need to know your IP of the gateway or its hostname</a>
<br><a><em>Sometimes hostname won&rsquo;t work. It depends on the DHCP-Server in this network</em></a>
<p>As mentioned in <a title="Setup your Raspberry Pi" href="{% url 'setup_rpi' %}">Setting up my Gateway</a> you can use the python script cputemp.py for testing.</p>
<a>If everything is running and gateway is displaying 2 times &ldquo;Connection OK&rdquo;,</a>
<p>it should work and your data will reach the server.</p>
<a><strong>To visualize or to check the incoming data you have two modes.</strong></a>
<br><a>The fast Mode:</a>
<br><a style="padding-left: 30px;">Just click on the button &ldquo;<a title="basic Mode" href="{% url 'iotree' %}">iotree</a>&rdquo; in the blue box.</a>
<br><a style="padding-left: 30px;">Now you can choose between your gateways.</a>
<br><a style="padding-left: 30px;">Submit, and then you will see all topics or sensors, if you like.</a>
<br><a style="padding-left: 30px;">You can choose to download the data or display it in a chart or simple table.</a>
<br><p style="padding-left: 30px;">All options include all dates from the beginning.</p>
<br><p>To limit the time or simply to list more than one sensor base from a gateway, you can use the detail mode.</p>
<a>The detailed Mode:</a>
<blockquote>
<a>You can use the second mode with a click on &ldquo;<a title="detailed Mode" href="{% url 'inquiry' %}" target="_blank">inquiry</a>&rdquo;.</a>
<img src="{% static 'iotdata/img/query_data.png' %}" class="img-fluid" alt="How to query data">
<br><a>There you have multiple option to query your data.</a>
</blockquote>
<ol>
<li>Choose your Gateway.</li>
<li>The tree structure corresponds to the MQTT topic defined in your sensor base. For example, you have an MQTT topic like this: "sensorbase / feather01 / tsl2591" and just want to display this data. For this you can enter "feather01, tsl2591" for example.</li>
<li>And&nbsp;</li>
<li>Are setting the start and end point.</li>
<li>When set to &ldquo;tree&rdquo; only the tree branches will be shown. This might be helpful when there are a lot of Sensorbases.</li>
<li>This refers to point 2. Here you can specify whether or not the tree branch follows a specific order.</li>
</ol>
<a style="padding-left: 30px;">Let's say you have these mqtt-topics:</a>
<br><ul>
<li style="padding-left: 30px;">sensorbase/feather01/tsl2591</li>
<li style="padding-left: 30px;">sensorbase/feather01/tsl2591_2</li>
<li style="padding-left: 30px;">sensorbase/feather03/tsl2591</li>
<li style="padding-left: 30px;">sensorbase/feather01/dht22</li>
</ul>
<br><a style="padding-left: 30px;">Now if you want all the data with "tsl2591", just type "tsl2591" and do not put hook. You will get all the data from:</a>
<br><a style="padding-left: 30px;">sensorbase/feather01/tsl2591 and sensorbase/feather03/tsl2591.</a>
<br><a style="padding-left: 30px;">It is that easy!</a>
<ol start="7">
<li>When you set this choose you simply negated the tree branch. This means if you have the same data as in point 3 and you enter &ldquo;tsl2591&rdquo; in point 2 and also undo the hook in point3, you will get the data from "sensorbase/feather01/tsl2591_2" and "sensorbase/feather01/dht22".</li>
<li>Select if you want to download a CSV file or view a spreadsheet or chart.</li>
</ol>
<p><strong>Rest API</strong></p>
<p>You can connect your applications with Rest-Api trough the page "<a title="Rest-API" href="{% url 'iotree_api' %}">./iotree_api/</a>". You need to be logged in.</p>
<p>To log in you have to send a POST-request with your login-data to "<a title="Rest-API" href="{% url 'api-token-auth' %}">./api-token-auth/</a>" You will then receive a token that you can use to send requests to <a title="Rest-API" href="{% url 'iotree_api' %}">./iotree_api/</a></p>
<p>Examples for achieving this are found on <a title="IoTree Github" href="https://github.com/IoTree/IoTree42" target="_blank">GitHub</a> for Python, R and Snips.</p>
<p>On the GET-request all your gateway IDs will be sent. Then you can do your queries, with the same possibilities and filters as on the "inquiry" page. The JSON string is declared as follows:</p>
<p style="padding-left: 30px;">{"gateway_id": "One of your gateway IDs has been sent to you."</p>
<p style="padding-left: 30px;">"tree": "the branch divided by" _ ",</p>
<p style="padding-left: 30px;">"filters": "data or tree",</p>
<p style="padding-left: 30px;">"in_order": "is the branch in an order? ",</p>
<p style="padding-left: 30px;">"negated": "Should the branch be negated?",</p>
<p style="padding-left: 30px;">"time_start": "start of interval in milliseconds",</p>
<p style="padding-left: 30px;">"time_end": "End of interval in milliseconds"}.</p>
<p>And a POST can look like this:</p>
<p style="padding-left: 30px;">{"gateway_id": "inku", "tree": "", "filters": "data", "in_order": "True", "negated": "False", "time_start":"0", "time_end":"1559187967000"}</p>
<p>Or like this:</p>
<p style="padding-left: 30px;">{"gateway_id":"000000345ba23", "tree":"", "filters": "tree", "in_order": "False", "negated": "True", "time_start":"1559187967000", "time_end": "now"}</p>
<p>As you can see in the second example, the field "time_end" is set to "now". This means that the server take the current UTC + 0 time.</p>
<p>&nbsp;</p>
<h4><strong>Rules for use</strong></h4>
<p><span style="color: #ff0000;">Be sure your Raspberry Pi is up to date and secure with a proper password!</span></p>
<p><u>Important rules for the dataset | object | payload:</u></p>
<ul>
<li>It must be in proper JSON-format. If not so it won&rsquo;t be stored.</li>
<li>Timestamps must be in UNIX-Format. Also the field key needs a form of &ldquo;time&rdquo;, &ldquo;Zeit&rdquo; or &rdquo;UNIX&rdquo; in it. For example: &ldquo;timestamp&rdquo; or &ldquo;Zeiten&rdquo; would also work. This is necessary for the server to display the timestamp in human readable time.</li>
<li>Use global time UTC +-0.</li>
<li>Don&rsquo;t use nested objects or Arrays.</li>
<li>Do not send multiple JSON strings at once. Send them individually.</li>
<li>Max time increment is 1 millisecond.</li>
<li>Save measurement values as integer not as string.</li>
</ul>
<p>Example payload: {&ldquo;sensor&rdquo;: &rdquo;tsl2591&rdquo;, &ldquo;lux&rdquo;: 2314, &ldquo;time&rdquo;: 1561373832}</p>
<p><u>Important rules for the topic:</u></p>
<ul>
<li>For simplicity only alphanumeric and &ldquo;-&ldquo; characters are allowed. If not, so wrong characters will be deleted.</li>
<li>Choose your topic and subtopic-levels wisely. So that you can find data later easily.</li>
<li>Always use "sensorbase/" before the sub-topic. Otherwise it will not be processed through the gateway.</li>
</ul>
<p>Example topic: sensorbase/feather01/tsl2591</p>
<p>&nbsp;</p>
<h4><strong>FAQs</strong></h4>
<br><a>Is it possible to use only the Mqtt-broker?</a>
<ul>
<li>Yes, it is. The permission for your specific topic is set to read and write.</li>
<li>Just subscribe your topic (example: gateways/your mqtt username/...), with all the necessary information (certificates, user, topic, password, host, port).</li>
</ul>
<br><a>Is my data secure?</a>
<ul>
<li>Yes and no. your data is not stored encrypted and theoretically it can be seen form the admin.</li>
<li>Your profile pic can be seen from everyone who has access to this site.</li>
<li>The use of IoTree42 is at your own risk.</li>
</ul>
<br><a>Can the Gateway itself be also a Sensorbase?</a>
<ul>
<li>Yes, just program your script as if it were on a different Raspberry Pi.</li>
</ul>
<br><a>Can I delete my data?</a>
<ul>
<li>Yes, when you delete your account everything stored related to you will be deleted.</li>
<li>In the Future there will be a function to deleted specific data.</li>
</ul>
<br><a>Can I use other devices as gateway than a Raspberry pi?</a>
<ul>
<li>Yes, you can easily run the mqrrbridge1.py scripts on any Linux,</li>
</ul>
<br><a>but Cputemp.py might not work.</a>
<ul>
<li>If you want to run it on something else you will need the certificates form the &ldquo;.ssl&rdquo; folder.</li>
</ul>
<br><a>Can I send data from 2 gateways, which will then be displayed as one?</a>
<ul>
<li>Yes, it is possible. In the &ldquo;mqttbridge1.py&rdquo; script there is the option to set a &ldquo;gateway_id&rdquo;.</li>
<li>You need to set the same ID for both.</li>
</ul>
<br><a>Can I set up a gateway as a subgetaway?</a>
<ul>
<li>Yes, you'll need to modify the mqttbridge1.py script a little so that the data is sent to the first gateway.</li>
</ul>
<br><a>I would like to extend my measurement with a new sensor. Can I use the already used topic?</a>
<ul>
<li>Yes, you can. Just expand your JSON string with a new field and a value.</li>
<li>Do not delete other fields. This can cause problems because some data will not be displayed. Send instead zeros.</li>
</ul>
<p>&nbsp;</p>
<h4><strong>Difficulties?</strong></h4>
<br><a>My Mqtt-password has been stolen what should I do?</a>
<ul>
<li>Contact admin</li>
</ul>
<br><a>Data is not displayed!</a>
<ul>
<li>If you just registered the server/admin will need some time to set up everything for you. Try it later again.</li>
<li>Make sure your using global time UTC +-0</li>
<li>Make sure your json string is valid. Can be tested <a title="JSON Validator" href="https://jsonlint.com" target="_blank">here</a>.</li>
<li>Make sure your gateway has internet connection</li>
<li>Make sure your mqtt username and password is set correctly.</li>
</ul>
<br><a>Timestamp is displaying something around 1970.</a>
<ul>
<li>Your sensorbase likely do not have the global time so it starts with UNIX time = 0 sec, which is equal to 01.01.1970 00:00:00 in human readable time.</li>
</ul>
<br><a>I can not log in!</a>
<ul>
<li>Contact admin</li>
</ul>
<br><a>Raspberry Pi doesn't get any connection to server.</a>
<ul>
<li>Check internet connection.</li>
<li>Check your config.json file.</li>
<li>Check your power.</li>
<li>Or contact Admin.</li>
</ul>
<br><a>Some data is missing.</a>
<ul>
<li>Look at FAQs &ldquo;<u>I would like to extend&hellip;&rdquo;</u></li>
<li>Is your JSON-string correct.</li>
<li>Dose your sensor works correctly.</li>
</ul>
<p>&nbsp;</p>
<h4><strong>Limitations:</strong></h4>
<ul>
<li>This platform can not handle time critical stuff.</li>
<li>Max payload size : 20MB</li>
<li>Milliseconds are the minimum time interval.</li>
<li>No nested Array or Object.</li>
</ul>
<p>&nbsp;</p>
<h4><strong>Upcoming features</strong></h4>
<br><a>In near future:</a>
<ul>
<li>Data sharing with other user's.</li>
<li>Own Password for your Database.</li>
<li>"Deleting" Function.</li>
<li>Dynamic Charts.</li>
</ul>
<br><a>in the distant future:</a>
<ul>
<li>R integration on server for data processing.</li>
<li>Python integration on server for data processing.</li>
<li>Online Lib with code snippets from users.
<ul>
<li>For example, from new sensorbases or sensors.</li>
</ul>
</li>
<li>time critical connections.</li>
</ul>
<p>&nbsp;</p>
<h5><strong><em>Also look at <a title="IoTree Github" href="https://github.com/IoTree/IoTree42" target="_blank">GitHub</a>.</em></strong></h5>
<p>&nbsp;</p>
<h5><strong>At last</strong></h5>
<p><span style="color: #ff0000;">There is <strong>NO WARRANTY</strong> or guarantee <strong>FOR LOUSING DATA</strong> on both sides, server and gateway.</span></p>
<p><span style="color: #ff0000;">The operator takes <strong>NO RESPON</strong> on anything. <strong>THE USE</strong> of this platform IoTree42 and anything related to it, <strong>IS ON YOUR ON RISK</strong>.</span></p>
<p>&nbsp;</p>
<br><a><strong>Found some bugs?</strong></a>
<p>Contact me on <a title="IoTree Github" href="https://github.com/IoTree/IoTree42" target="_blank">GitHub</a>.</p>
<p>&nbsp;</p>
<p>And as always: learning by doing.</p>
    </div>
{% endblock content %}
