{% extends "iotdata/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <center><h4><a class="mr-2" >Edit this page as you wish.</a></h4></center>
            </div>
            <center>
                <br>
                <h5>IoTree</h5>
                <h5>Links:</h5>
                <a href="https://github.com/IoTree/IoTree42" class="ml-0" >GitHub</a>
            </center>
        </div>
    </article>
{% endblock content %}

