{% extends "iotdata/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div  class="content-section">
        {% for context in contexts %}
            <h6>{% for item in context.posts_tree %}
                {{item}}
                {% endfor %}</h6>
        <div style="width:200px">
        <div style="float: left">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ context.posts_tree }}" name="postshow">
            <button type="submit" class="btn btn-outline-info">
                SHOW
            </button>
        </form>
        </div>
        <div style="float: right">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ context.posts_tree }}" name="postdownload">
            <button type="submit" class="btn btn-outline-info">
                DOWNLOAD
            </button>
        </form>
        </div>
        </div>
        {% endfor %}
        <br>
        <br>
    </div>
{% endblock content %}
