{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href='{% static "iotdata/main.css" %}'>




    {% if title %}
        <title>IoT- {{ title }}</title>
    {% else %}
        <title>IoTree42</title>
    {% endif %}
</head>
<body style="overflow: hidden;">
    <header class="site-header">
      <nav class="navbar navbar-dark navbar-expand-md fixed-top" style="background-color: #202226;">
          <a class="navbar-brand mr-4" href="{% url 'iot-home'%}"><font color="96d46d" >IoTree42</font></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'iot-home'%}">Home</a>
                {% if user.is_authenticated %}
              <a class="nav-item nav-link" href="{% url 'setup-rpi' %}">Setup Gateway</a>
              <a class="nav-item nav-link" href="{% url 'treeview' %}"><font color="fbfbfb">Your IoTree</font></a>
              <a class="nav-item nav-link" href="{% url 'gatewaylist' %}"><font color="fbfbfb">Your Gateways</font></a>
              <a class="nav-item nav-link" href="{% url 'tografana'%}"><font color="eea11d">Grafana</font></a>
                {% endif %}
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'password_reset' %}">Reset Password</a>
                    <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                    <a class="nav-item nav-link" href="{% url 'manual' %}">FAQ</a>
                    <a class="nav-item nav-link" href="{% url 'iot-about'%}">About</a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'iot-about'%}">About</a>
                    <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
<main>
            {% block content %}
            {% endblock %}
</main>
</body>
</html>
