{% extends "iotdata/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <center><h4><a class="mr-2" >Impressum</a></h4></center>
            </div>                
                        <p class="article-title" >Name</p>
                        <p class="article-title" > Email</p>
                        <p class="article-title" > by ...</p>
                        <p class="article-content">Information</p>
                <br>
                <br>
                <h5><a class="mr-2" >INFO1</a></h5>
                <a class="article-title" >...</a>
                <br>
                <br>
                <h5><a class="mr-2" >INFO2</a></h5>
                <a class="article-title" >...</a>
                <br>
                <br>
                <h5><a class="mr-2" >INFO3</a></h5>
                <a class="article-title" >...</a>
        </div>
    </article>
{% endblock content %}

