certifi
chardet
Django
django-crispy-forms
idna
Pillow
pytz
requests
urllib3
pbkdf2
djangorestframework
markdown
django-filter
django-ranged-response
captcha
django-simple-captcha
influxdb
gunicorn
django-revproxy
paho-mqtt